################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LaptopManagement/bin/Data/~$LaptopList.xlsx
